@model GerenciadorCondominiosBLL.Models.Aluguel

@{
    ViewData["Title"] = "Atualizar aluguel no valor de " + Model.Valor + " mês " + Model.MesId;
}

<div class="formulario">
    <div class="collection with-header">
        <form asp-action="Edit">

            <div class="collection-header blue darken-3">
                <h6 class="white-text">Atualizar aluguel no valor de @Model.Valor mês @Model.MesId</h6>
            </div>

            <div class="collection-item">
                <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>

                <input type="hidden" asp-for="AluguelId" />

                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Valor"></label>
                        <input asp-for="Valor" class="validate" id="valor" />
                        <span asp-validation-for="Valor" class="red-text text-darken-4"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <select asp-for="MesId" class="validate" asp-items="ViewBag.MesId" id="mes"></select>
                        <label asp-for="MesId" id="mes">Selecione o mês</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Ano"></label>
                        <input asp-for="Ano" class="validate" id="ano" />
                        <span asp-validation-for="Ano" class="red-text text-darken-4"></span>
                    </div>
                </div>

            </div>
            <div class="collection-item">
                <button type="submit" class="btn-small blue darken-3">Salvar</button> &emsp;
                <a asp-action="Index" asp-controller="Alugueis">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/IniciarSelect.js"></script>
}
