@model GerenciadorCondominiosBLL.Models.Funcao

@{
    ViewData["Title"] = "Atualizar função " + Model.Name;
}

<div class="formulario">
    <div class="collection with-header">
        <form asp-action="Edit">

            <div class="collection-header blue darken-3">
                <h6 class="white-text">Atualizar função @Model.Name</h6>
            </div>

            <div class="collection-item">
                <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>

                <input type="hidden" asp-for="Id" />

                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="validate" id="name" />
                        <span asp-validation-for="Name" class="red-text text-darken-4"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Descricao"></label>
                        <input asp-for="Descricao" class="validate" id="descricao" />
                        <span asp-validation-for="Descricao" class="red-text text-darken-4"></span>
                    </div>
                </div>
            </div>
            <div class="collection-item">
                <button type="submit" class="btn-small blue darken-3">Salvar</button> &emsp;
                <a asp-action="Index" asp-controller="Funcoes">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
