@model GerenciadorCondominiosBLL.Models.Servico

@{
    ViewData["Title"] = "Atualizar serviço";
}

<div class="formulario">
    <div class="collection with-header">
        <form asp-action="Edit">

            <input type="hidden" asp-for="UsuarioId" />
            <input type="hidden" asp-for="SevicoId" />

            <div class="collection-header blue darken-3">
                <h6 class="white-text">Atualizar serviço</h6>
            </div>

            <div class="collection-item">
                <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>

                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Nome"></label>
                        <input asp-for="Nome" class="validate" id="nome" />
                        <span asp-validation-for="Nome" class="red-text text-darken-4"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <label asp-for="Valor"></label>
                        <input asp-for="Valor" class="validate" id="valor" />
                        <span asp-validation-for="Valor" class="red-text text-darken-4"></span>
                    </div>
                </div>

            </div>

            <div class="collection-item">
                <button type="submit" class="btn-small blue darken-3">Atualizar</button> &emsp;
                <a asp-action="Index" asp-controller="Servicos">Voltar</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
